.root {
  display: flex;
  justify-content: center;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 3px;
    cursor: pointer;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fe5f1e;
      border-radius: 25px;
      color: #fe5f1e;
      height: 40px;
      width: 40px;
      &:hover {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }

  :global{
    .selected{
        a{
            background-color: #fe5f1e;
            color: white;
        }
    }
  }
}
